@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
	background: var(--background);
	/* AJUSTAR PROPIEDADES DE LA IMAGEN EN UNA SEGUNDA ETAPA
	background-image: url(img/background-image-next.jpg); */
	color: #f9fafb;
}

:root {
	/* bg-colors */
	--background: #e4b0c2;
	--background-2: #d66d75;
	--nav-bg: #1f363d;
	--primary: #f9fafb;
	--secondary: #02050e;
	--btn-bg: #1f363d;

	/* Text colors */
	--text-gray: #adb8c7;
	--text-white: #f9fafb;

	/* Fonts */
	--font-montserrat: "Montserrat";
	--font-light: 300;
	--font-regular: 400;
	--font-semibold: 600;
	--font-bold: 700;
	--font-black: 800;

	--font-sm: 14px;
	--font-m: 28px;
	--font-xl: 48px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: var(--font-montserrat), sans-serif;
}

.header {
	background: var(--nav-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	position: fixed;
	width: 100%;
	height: 85px;
}

.logo {
	height: 80%;
}

.navbar,
.navbar-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-list {
	gap: 40px;
}

.navbar {
	gap: 5rem;
}

.navbar-list a {
	color: var(--text-white);
	font-size: var(--font-sm);
	font-weight: var(--font-regular);
}

.navbar-list li:first-child > a {
	font-weight: var(--font-semibold);
}

.cart-icon {
	height: 20px;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* HERO */
#hero {
	margin-top: 85px;
	padding: 50px 30px;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.hero-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	font-size: var(--font-sm);
	width: 50%;
	color: var(--text-white);
}

.hero-info h1 {
	font-size: var(--font-xl);
	font-weight: var(--font-black);
	width: 80%;
	min-width: 500px;
	color: var(--text-white);
}

.hero-info p {
	font-size: var(--font-sm);
	width: 90%;
	color: var(--text-white);
}

.btn {
	font-size: var(--font-sm);
	font-weight: var(--font-semibold);
	color: var(--text-white);
	background-color: var(--btn-bg);
	padding: 8px 20px;
	border-radius: 8px;
}

.hero-card {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	width: 600px;
}

.discover-info {
	padding: 20px 0px;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 10px;
}

.btn-season {
	font-size: var(--font-sm);
	font-weight: var(--font-semibold);
	color: var(--text-white);
	background-color: var(--btn-bg);
	padding: 8px 20px;
	border-radius: 8px;
}

/*  ================== INFO ==================*/
#info {
	padding: 30px 0;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.info-cards-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.info-card {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;
	gap: 10px;
	padding: 30px 30px;
	max-width: 350px;
}

.info-card img {
	width: 300px;
}

.info-card-data {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 300px;
}

.info-card-product-name {
	font-weight: var(--font-semibold);
	font-size: var(--font-sd);
	color: var(--text-white);
	cursor: pointer;
}

.info-card p {
	font-size: var(--font-sm);
	font-weight: var(--font-light);
	color: var(--text-white);
}

/*  ================== CONTACTO ==================*/
#contact {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 20px;
}

#contact h1 {
	display: block;
	font-size: var(--font-m);
	font-weight: var(--font-black);
	color: var(--text-white);
}

#contact h3 {
	margin: 5px 0 15px;
	display: block;
	font-size: var(--font-sm);
}

#contact input {
	width: 100%;
	border: 1px solid var(--text-gray);
	background: #fff;
	margin: 0 0 5px;
	padding: 15px;
	border-radius: 5px;
}

#contact textarea {
	height: 200px;
	width: 100%;
	border: 1px solid var(--text-gray);
	background: #fff;
	margin: 0 0 5px;
	padding: 15px;
	border-radius: 5px;
}

#contact button {
	cursor: pointer;
	font-size: var(--font-sm);
	font-weight: var(--font-semibold);
	color: var(--text-white);
	background-color: var(--btn-bg);
	padding: 8px 20px;
	border-radius: 8px;
}

/*  ================== FOOTER ==================*/
#footer {
	background: var(--nav-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100%;
	height: 55px;
}
